################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp/.vs/ConsoleApp
/ConsoleApp/ConsoleApp/bin/Debug/net8.0
/ConsoleApp/ConsoleApp/obj
